<%- include('layout/header')%>

<div class="row admin_content position-absolute d-flex">

    <h3>Dashboard</h3>

    <div class="row ">
        <div class="col-md-3 admin_box " style="position:relative;">
            <i class="fa-solid fa-user"
                style="font-size: 3rem;align-items:center"></i>
            <h2
                style="position: absolute;top:100px;left:40%;text-align:center;padding:10px;color:white;margin: right 30%;"><%=data
                %></h2>
        </div>
        <div class="col-md-3 admin_box" style="position:relative;">
            <i class="fa-solid fa-pepper-hot"
                style="font-size: 3rem;align-items:center"></i>
            <h2
                style="position: absolute;top:100px;left:40%;text-align:center;padding:10px;color:white;margin: right 30%;"><%=productCount
                %></h2>
        </div>
        <div class="col-md-3 admin_box" style="position:relative;">
            <i class="fa-solid fa-bag-shopping"
                style="font-size: 3rem;align-items:center"></i>
            <h2
                style="position: absolute;top:100px;left:40%;text-align:center;padding:10px;color:white;margin: right 30%;"><%=orderCount
                %></h2>
        </div>
        <div class="col-md-3 admin_box" style="position:relative;">
            <i class="fa-solid fa-hand-holding-dollar"
                style="font-size: 3rem;align-items:center"></i>
            <h2
                style="position: absolute;top:100px;left:40%;text-align:center;padding:10px;color:white;margin: right 30%;"><%=countTotal
                %>$</h2>
        </div>

    </div>

</div>

<%- include('layout/footer')%>